
@import url(//db.onlinewebfonts.com/c/e721330050ecfe81b4e5455e1a308181?family=Billabong);
._font{
  font-family: Billabong;
  font-size: 30px;
  color:black;
  margin-bottom: 0px;

}

._search{
  width:200px;
  height:4vh;
  margin-top: 5px;
  border: 1px solid ##A5A7AA;

}
@media (max-width:480px){
  ._search{
    display: none;
  }
}
._search::placeholder{
  color:#A5A7AA;
}
._searchGroup{
  align-items: baseline;
}
._links{

  align-items: end;
}
._header{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
._topheader{
   position: fixed;
   top:0;
   left:0;
    z-index: 1;

}
