._Sidebar{
  border:1px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  flex:0.30;
  overflow-y:  scroll;
}
._Direct{
  padding:15px;
  border-bottom: 1px solid #EFEFEF;
}
._blim{
  display: flex;
  flex-flow:column;
  margin-top: 40px;
  justify-content: center;
  align-self: center;

}
